<template>
    <div id="form-wrapper">
        <template v-if="activeForm === 'LOGIN'">
            <h2>Přihlásit se</h2>
            <SingIn />
            <b-link @click="activeForm = 'SIGNUP'">Nemáte účet? Zaregistrujte se.</b-link>
        </template>
        <template v-else>
            <h2>Zaregistrovat se</h2>
            <SignUpForm />
            <b-link @click="activeForm = 'LOGIN'">Máte již účet? Přihlaste se.</b-link>
        </template>
    </div>
</template>

<script>
  import SingIn from "./SignInForm";
  import SignUpForm from "./SignUpForm";
  export default {
    name: "FormWrapper",
    components: {SignUpForm, SingIn},
    data() {
      return {
        activeForm: "LOGIN"
      }
    }
  }
</script>

<style scoped>
#form-wrapper {
    background-color: #f5f5f5;
    padding: 2em;
    margin: 0 auto;
    width: 550px;
}

h2 {
    margin-bottom: .5em;
}

@media screen and (max-width: 576px) {
    #form-wrapper {
        width: initial;
        padding: 1.5em;
    }
}
</style>
