<template>
    <div id="home">
        <b-jumbotron class="bg">
            <template v-slot:header><BuJoSVGIcon size="72" /> <span>BuJo App</span></template>
            <template v-slot:lead>Poznámky v elektronické podobě založené na <b-link href="https://bulletjournal.com/" target="_blank" rel="noopener noreferrer">metodě Bullet Journal</b-link>.</template>
        </b-jumbotron>
        <FormWrapper />
    </div>
</template>

<script>
  import FormWrapper from "./components/form/FormWrapper";
  import BuJoSVGIcon from "./components/BuJoSVGIcon";
  export default {
    name: "Login",
    components: {BuJoSVGIcon, FormWrapper}
  }
</script>

<style scoped>
.bg {
    background-color: #fff4d8;
}

@media screen and (max-width: 576px) {
    .jumbotron {
        margin-bottom: 0;
    }

    .jumbotron h1 {
        font-size: 3rem;
    }
}
</style>
