<template>
    <section>
        <template v-for="entry in getSelectedDateDailyLogEntriesByMonth">
            <Entry v-show="isSameDay(entry.dateDailyLog, getSelectedDateDailyLog)" :key="entry.id" :entry-data="entry" :in-daily-log="true" />
        </template>
        <b-container v-if="!getContentLoading && getSelectedDateDailyLogEntriesByDay.length === 0" class="no-entry">
            Tento den neobsahuje žádné záznamy.
        </b-container>
    </section>
</template>

<script>
  import Entry from "../entry/Entry";
  import { mapGetters } from "vuex";
  import moment from "moment";
  export default {
    name: "DailyLogContent",
    components: {Entry},
    computed: {
      ...mapGetters(["getSelectedDateDailyLogEntriesByDay", "getContentLoading", "getSelectedDateDailyLogEntriesByMonth", "getSelectedDateDailyLog"]),
    },
    methods: {
      isSameDay(date1, date2) {
        return moment(date1).isSame(date2, "day");
      }
    }
  }
</script>

<style scoped>
.no-entry {
    display: flex;
    color: #828282;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}
</style>
