<template>
    <div>
        <b-form-checkbox id="set-signifier-checkbox"
                         name="set-signifier-checkbox"
                         v-model="selected"
                         :value="true"
                         :unchecked-value="false"
                         @change.native="$emit('update:signifier', selected ? signifier : '')">
            Nastavit značku
        </b-form-checkbox>
        <b-form-group v-if="selected" class="mt-2 ml-4">
            <b-form-radio-group stacked
                                id="signifier-radio-group"
                                v-model="signifier"
                                name="signifier-radio-group"
                                @change.native="$emit('update:signifier', signifier)">
                <b-form-radio value="IMPORTANT"><Signifier value="IMPORTANT" />Důležité</b-form-radio>
                <b-form-radio value="INSPIRATION"><Signifier value="INSPIRATION" />Inspirace</b-form-radio>
            </b-form-radio-group>
        </b-form-group>
    </div>
</template>

<script>
  import Signifier from "../entry/Signifier";
  export default {
    name: "EntrySignifierInput",
    components: {Signifier},
    props: ["initialValue"],
    data() {
      return {
        selected: false,
        signifier: "IMPORTANT"
      }
    },
    methods: {
      isSelected(initialValue) {
        return initialValue === "IMPORTANT" || initialValue === "INSPIRATION";
      },
      signifierValue(initialValue) {
        switch (initialValue) {
          case "IMPORTANT": return initialValue;
          case "INSPIRATION": return initialValue;
          default: return "IMPORTANT";
        }
      }
    },
    mounted() {
      this.signifier = this.signifierValue(this.initialValue);
      this.selected = this.isSelected(this.initialValue);
    }
  }
</script>

<style scoped>

</style>
