<template>
    <div>
        <b-form-group label="Typ záznamu:">
            <b-form-radio-group :options="options"
                                v-model="type"
                                @change.native="$emit('update:type', type === 'TASK' && taskCompleted ? 'TASK_COMPLETED' : type)"/>
        </b-form-group>
        <b-form-checkbox v-if="type === 'TASK'"
                         id="task-completed-checkbox"
                         name="task-completed-checkbox"
                         v-model="taskCompleted"
                         :value="true"
                         :unchecked-value="false"
                         class="ml-4"
                         @change.native="$emit('update:type', type === 'TASK' && taskCompleted ? 'TASK_COMPLETED' : type)">
            Označit úkol jako splněný
        </b-form-checkbox>
        <b-form-checkbox id="entry-canceled-checkbox"
                         name="entry-canceled-checkbox"
                         v-model="canceled"
                         :value="true"
                         :unchecked-value="false"
                         class="mt-4"
                         @change.native="$emit('update:canceled', canceled)">
            Označit záznam jako zrušený
        </b-form-checkbox>
    </div>
</template>

<script>
  export default {
    name: "EntryTypeInput",
    props: ["initialValue"],
    data() {
      return {
        options: [
          { text: "Úkol"    , value: "TASK"},
          { text: "Událost" , value: "EVENT"},
          { text: "Poznámka", value: "NOTE"},
        ],
        type: "TASK",
        taskCompleted: false,
        canceled: false
      }
    },
    methods: {
      radioValue(type) {
        if (type) {
          return type === "TASK_COMPLETED" ? "TASK" : type;
        } else {
          return "TASK";
        }
      }
    },
    mounted() {
      this.type = this.initialValue ? this.radioValue(this.initialValue.type) : "TASK";
      this.taskCompleted = this.initialValue ? (this.initialValue.type === "TASK_COMPLETED") : false;
      this.canceled = this.initialValue ? (this.initialValue.canceled) : false;
    }
  }
</script>

<style scoped>

</style>
