<template>
    <div>
        <b-form-checkbox id="copy-to-monthly-log-checkbox"
                         name="copy-to-monthly-log-checkbox"
                         v-model="copyToMonthlyLog"
                         :value="true"
                         :unchecked-value="false"
                         class="mb-3"
                         :disabled="getIsSubEntryOriented"
                         :title="getIsSubEntryOriented ? 'Odsazené záznamy nelze kopírovat do Monthly Logu.' : ''"
                         @change.native="$emit('update:dateMonthlyLog', copyToMonthlyLog ? dateMonthlyLog : null)">
            Zkopírovat do Monthly Logu
        </b-form-checkbox>
        <b-form inline v-if="copyToMonthlyLog" class="ml-4">
            <label for="monthly-log-datepicker">Datum: </label>
            <b-form-datepicker :value="dateMonthlyLog"
                               v-model="dateMonthlyLog"
                               :disabled="getIsSubEntryOriented"
                               id="monthly-log-datepicker"
                               class="ml-2"
                               @input="$emit('update:dateMonthlyLog', dateMonthlyLog)"></b-form-datepicker>
        </b-form>
    </div>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    name: "EntryMonthlyLogDateInput",
    props: ["initialValue"],
    data() {
      return {
        dateMonthlyLog: new Date(),
        copyToMonthlyLog: !!this.initialValue
      }
    },
    computed: {
      ...mapGetters(["getIsSubEntryOriented"])
    },
    mounted() {
      this.dateMonthlyLog = this.initialValue ? new Date(this.initialValue) : new Date();
    }
  }
</script>

<style scoped>

</style>
