<template>
    <section id="panel">
        <template v-if="collection === 'DAILY_LOG'">
            <DailyLogPanel />
        </template>
        <template v-if="collection === 'MONTHLY_LOG'">
            <MonthlyLogPanel />
        </template>
        <template v-if="collection === 'REPORTING'">
            <ReportingPanel />
        </template>
    </section>
</template>

<script>
  import DailyLogPanel from "./DailyLogPanel";
  import MonthlyLogPanel from "./MonthlyLogPanel";
  import ReportingPanel from "./ReportingPanel";
  export default {
    name: "BaseCollectionPanel",
    components: {ReportingPanel, MonthlyLogPanel, DailyLogPanel},
    props: ["collection"]
  }
</script>

<style scoped>
section {
    padding: .5em;
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 600px) {
    section {
        padding: .5em;
    }
}
</style>
