<template>
    <div class="p-0 button-container">
        <div id="calendar-btn-container">
            <b-button block id="dl-calendar-popover" variant="info" class="btn-shadow"><span class="h6"><b-icon icon="calendar"></b-icon> {{ selectedDateMomentObj.locale("cs").format("l") }}</span></b-button>
            <b-popover target="dl-calendar-popover" triggers="click blur" placement="bottom">
                <template v-slot:title>Vyberte den</template>
                <b-calendar :key="'dl-calendar-' + selectedDate.toDateString()" :value="selectedDate" :date-info-fn="styleDates" @context="updateSelectedDateDailyLog($event.selectedYMD)"></b-calendar>
            </b-popover>
        </div>
        <div id="today-btn-container">
            <b-button block v-bind:disabled="isToday(selectedDate)" variant="info" class="btn-shadow" @click="updateSelectedDateDailyLog(new Date())"><span class="h6">Dnes</span></b-button>
        </div>
        <div id="new-entry-btn-container">
            <b-button block variant="success" class="btn-shadow" v-b-modal.create-new-entry-dialog @click="updateMarkedEntry({ isSubEntryOriented: false })"><span class="h6"><b-icon icon="plus"></b-icon>Nový záznam</span></b-button>
        </div>
    </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import moment from "moment";

  export default {
    name: "DailyLogPanel",
    components: {},
    computed: {
      selectedDate() {
        return this.selectedDateMomentObj.toDate();
      },
      selectedDateMomentObj() {
        return moment(this.getSelectedDateDailyLog());
      }
    },
    methods: {
      ...mapGetters(["getSelectedDateDailyLog", "getSelectedDateDailyLogEntriesByMonth"]),
      ...mapActions(["updateSelectedDateDailyLog", "updateMarkedEntry"]),
      isToday(date) {
        return moment().isSame(date, "day");
      },
      styleDates(ymd, date) {
        date = moment(date);
        let foundExistingMigratedEntry = false;
        for (let entry of this.getSelectedDateDailyLogEntriesByMonth()) {
          if (date.isSame(entry.dateDailyLog, "day")) {
            if (!entry.dateMonthlyLog && !entry.canceled) {
              return 'has-entry-both-unmigrated-and-uncanceled';
            } else {
              foundExistingMigratedEntry = true;
            }
          }
        }
        return foundExistingMigratedEntry ? 'has-all-entries-migrated-or-canceled' : '';
      }
    }
  }
</script>

<style scoped>
.popover {
    max-width: 300px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-container div {
    flex: 1;
}

#today-btn-container {
    padding: 0 .5em;
}

#today-btn-container button:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

@media screen and (max-width: 600px) {
    .button-container div {
        flex-basis: 50%;
    }

    #calendar-btn-container {
        padding-right: .25em;
    }

    #today-btn-container {
        padding-left: .25em;
        padding-right: 0;
    }

    #new-entry-btn-container {
        margin-top: .55em;
    }
}
</style>
