<template>
    <b-form-datepicker :key="'ml-datepicker-' + selectedDate.toDateString()" placeholder="Vyberte datum" :value="selectedDate" @context="updateSelectedDateMonthlyLog($event.selectedYMD)" class="shadow-sm"></b-form-datepicker>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import moment from "moment";
  export default {
    name: "MonthlyLogPanel",
    computed: {
      selectedDate() {
        return moment(this.getSelectedDateMonthlyLog()).toDate();
      }
    },
    methods: {
      ...mapGetters(["getSelectedDateMonthlyLog"]),
      ...mapActions(["updateSelectedDateMonthlyLog"])
    }
  }
</script>

<style scoped>

</style>
