<template>
    <div>
        <b-form-group label="Druh reportu:" label-class="font-weight-bold">
            <b-form-radio-group :options="options"
                                stacked
                                v-model="type"
                                class="ml-4"/>
        </b-form-group>
        <b-form>
            <b-form-group label="Období:" label-class="font-weight-bold">
                <b-form inline>
                    <b-input-group prepend="Od" class="mb-1 mr-1">
                        <b-form-datepicker :value="fromDate"
                                           v-model="fromDate"
                                           :max="toDate"/>
                    </b-input-group>
                    <b-input-group prepend="Do" class="mb-1 mr-1">
                        <b-form-datepicker :value="toDate"
                                           v-model="toDate"
                                           :min="fromDate"/>
                    </b-input-group>
                </b-form>
            </b-form-group>
        </b-form>
        <hr>
        <b-button variant="success" class="btn-shadow" @click="handleGenerate()"><b-icon icon="bar-chart-fill"></b-icon> Vygenerovat</b-button>
    </div>
</template>

<script>
  import moment from "moment";
  import {mapActions, mapGetters} from "vuex";
  export default {
    name: "ReportingPanel",
    data() {
      return {
        options: [
          { text: "Přehled úkolů",   value: "TASK_REPORT"},
          { text: "Seznam poznámek", value: "NOTE_REPORT"}
        ],
        type: "TASK_REPORT",
        fromDate: new Date(),
        toDate: new Date(),
        weekBound: moment(),
        prevWeekBound: null
      }
    },
    methods: {
      ...mapActions(["updateReportingContent", "updateReportStatistics"]),
      handleGenerate() {
        switch (this.type) {
          case "TASK_REPORT": return this.generateTaskReport();
          case "NOTE_REPORT": return this.generateNoteReport();
          default: return this.generateTaskReport();
        }
      },
      async generateTaskReport() {
        await this.updateReportingContent({ fromDate: moment(this.fromDate).startOf("day").toDate(), toDate: moment(this.toDate).endOf("day").toDate(), type: "TASK" });
        this.prevWeekBound = null;
        this.weekBound = moment(this.fromDate).startOf("day").add(7, "days");
        this.updateReportStatistics(this.generateTasksStatistics);
      },
      async generateNoteReport() {
        await this.updateReportingContent({ fromDate: moment(this.fromDate).startOf("day").toDate(), toDate: moment(this.toDate).endOf("day").toDate(), type: "NOTE" });
        this.prevWeekBound = null;
        this.weekBound = moment(this.fromDate).startOf("day").add(7, "days");
        this.updateReportStatistics(this.generateNoteStatistics);
      },
      processTaskEntryAndUpdateStatistics(entry, statistics, isChildEntry = false, parent = null) {
        if (entry.type === "TASK" || entry.type === "TASK_COMPLETED") {
          while (moment(entry.dateDailyLog).isAfter(this.weekBound)) {
            statistics.taskDistributionDatasets.openTasksData.push(0);
            statistics.taskDistributionDatasets.closedTasksData.push(0);
            statistics.taskDistributionDatasets.canceledTasksData.push(0);
            this.prevWeekBound = this.weekBound.clone();
            statistics.taskDistributionDatasets.labels.push(`${this.weekBound.format("D[.]M[.]YY")}-${this.weekBound.add(6, "days").format("D[.]M[.]YY")}`);
            this.weekBound.add(1, "days");
          }
          statistics.tasksData.push(entry);
          statistics.totalTasksCount++;
          if (isChildEntry) {
            statistics.subTasksCount++;
            entry.parentEntry = parent;
          }
          if (entry.type === "TASK" && !entry.canceled) {
            statistics.openTasksCount++;
            const index = statistics.taskDistributionDatasets.openTasksData.length - 1;
            statistics.taskDistributionDatasets.openTasksData[index]++;
            entry.datasetIndex = index;
          } else if (entry.type === "TASK_COMPLETED" && !entry.canceled) {
            statistics.closedTasksCount++;
            const index = statistics.taskDistributionDatasets.closedTasksData.length - 1;
            statistics.taskDistributionDatasets.closedTasksData[index]++;
            entry.datasetIndex = index;
          } else if (entry.canceled) {
            statistics.canceledTasksCount++;
            const index = statistics.taskDistributionDatasets.canceledTasksData.length - 1;
            statistics.taskDistributionDatasets.canceledTasksData[index]++;
            entry.datasetIndex = index;
          }
        }
      },
      processNoteEntryAndUpdateStatistics(entry, statistics, isChildEntry = false, parent = null) {
        if (entry.type === "NOTE") {
          while (moment(entry.dateDailyLog).isAfter(this.weekBound)) {
            statistics.noteDistributionDataset.notesData.push(0);
            this.prevWeekBound = this.weekBound.clone();
            statistics.noteDistributionDataset.labels.push(`${this.weekBound.format("D[.]M[.]YY")}-${this.weekBound.add(6, "days").format("D[.]M[.]YY")}`);
            this.weekBound.add(1, "days");
          }
          statistics.notesData.push(entry);
          statistics.totalNotesCount++;
          if (isChildEntry) {
            entry.parentEntry = parent;
          }
          statistics.noteDistributionDataset.notesData[statistics.noteDistributionDataset.notesData.length - 1]++;
        }
      }
    },
    computed: {
      ...mapGetters(["getReportEntries", "getReportTimeSpan"]),
      generateTasksStatistics() {
        let statistics = {
          tasksData: [],
          totalTasksCount: 0,
          subTasksCount: 0,
          openTasksCount: 0,
          closedTasksCount: 0,
          canceledTasksCount: 0,
          taskDistributionDatasets: {
            openTasksData: [0],
            closedTasksData: [0],
            canceledTasksData: [0],
            labels: [`${moment(this.getReportTimeSpan.fromDate).format("D[.]M[.]YY")}-${this.weekBound.clone().subtract(1, "days").format("D[.]M[.]YY")}`]
          }
        };
        for (let entry of this.getReportEntries) {
          this.processTaskEntryAndUpdateStatistics(entry, statistics, false);
          for (let childEntry of entry.childEntries) {
            this.processTaskEntryAndUpdateStatistics(childEntry, statistics, true, entry);
          }
        }
        let startOfLastWeek;
        while (this.weekBound.isBefore(this.getReportTimeSpan.toDate)) {
          statistics.taskDistributionDatasets.openTasksData.push(0);
          statistics.taskDistributionDatasets.closedTasksData.push(0);
          statistics.taskDistributionDatasets.canceledTasksData.push(0);
          startOfLastWeek = this.weekBound.format("D[.]M[.]YY");
          statistics.taskDistributionDatasets.labels.push(`${this.weekBound.format("D[.]M[.]YY")}-${this.weekBound.add(6, "days").format("D[.]M[.]YY")}`);
          this.weekBound.add(1, "days");
        }
        if (!startOfLastWeek) {
          if (statistics.taskDistributionDatasets.labels.length === 1) {
            startOfLastWeek = moment(this.fromDate).format("D[.]M[.]YY");
          } else {
            startOfLastWeek = this.prevWeekBound.format("D[.]M[.]YY");
          }
        }
        statistics.taskDistributionDatasets.labels[statistics.taskDistributionDatasets.labels.length - 1] = `${startOfLastWeek}-${moment(this.toDate).format("D[.]M[.]YY")}`;
        return statistics;
      },
      generateNoteStatistics() {
        let statistics = {
          notesData: [],
          totalNotesCount: 0,
          noteDistributionDataset: {
            notesData: [0],
            labels: [`${moment(this.getReportTimeSpan.fromDate).format("D[.]M[.]YY")}-${this.weekBound.clone().subtract(1, "days").format("D[.]M[.]YY")}`]
          }
        };
        for (let entry of this.getReportEntries) {
          this.processNoteEntryAndUpdateStatistics(entry, statistics, false);
          for (let childEntry of entry.childEntries) {
            this.processNoteEntryAndUpdateStatistics(childEntry, statistics, true, entry);
          }
        }
        let startOfLastWeek;
        while (this.weekBound.isBefore(this.getReportTimeSpan.toDate)) {
          statistics.noteDistributionDataset.notesData.push(0);
          startOfLastWeek = this.weekBound.format("D[.]M[.]YY");
          statistics.noteDistributionDataset.labels.push(`${this.weekBound.format("D[.]M[.]YY")}-${this.weekBound.add(6, "days").format("D[.]M[.]YY")}`);
          this.weekBound.add(1, "days");
        }
        if (!startOfLastWeek) {
          if (statistics.noteDistributionDataset.labels.length === 1) {
            startOfLastWeek = moment(this.fromDate).format("D[.]M[.]YY");
          } else {
            startOfLastWeek = this.prevWeekBound.format("D[.]M[.]YY");
          }
        }
        statistics.noteDistributionDataset.labels[statistics.noteDistributionDataset.labels.length - 1] = `${startOfLastWeek}-${moment(this.toDate).format("D[.]M[.]YY")}`;
        return statistics;
      }
    },
    mounted() {
      this.fromDate = moment(new Date()).startOf("month").toDate();
      this.toDate = moment(new Date()).endOf("month").toDate();
    }
  }
</script>

<style scoped>

</style>
