<template>
    <section>
        <b-overlay :show="getContentLoading"
                   spinner-variant="primary"
                   spinner-type="grow">
            <BaseCollectionPanel collection="DAILY_LOG" />
            <DailyLogContent />
        </b-overlay>
    </section>
</template>

<script>
import BaseCollectionPanel from "../components/collectionPanels/BaseCollectionPanel";
import DailyLogContent from "../components/collectionContents/DailyLogContent";
import { mapActions, mapGetters } from "vuex";
export default {
  name: 'DailyLog',
  components: {DailyLogContent, BaseCollectionPanel},
  metaInfo: {
    title: "Daily Log"
  },
  methods: {
    ...mapActions(["updateDailyLogContent"])
  },
  computed: {
    ...mapGetters(["getContentLoading"])
  },
  created() {
    this.updateDailyLogContent();
  }
}
</script>
