<template>
    <b-modal id="confirm-dialog"
             title="Smazat záznam"
             @ok="handleOk">
        <div class="mb-4">Opravdu chcete smazat záznam <i>{{ getMarkedEntry.text }}</i>?</div>
        <div v-if="getMarkedEntry.childEntries && getMarkedEntry.childEntries.length > 0" class="mb-2">
            <b-icon icon="exclamation-circle-fill" variant="danger"></b-icon>
            <strong> Záznam obsahuje podřazené záznamy, které budou rovněž smazány.</strong>
        </div>
        <div v-if="getMarkedEntry.dateMonthlyLog">
            <b-icon icon="exclamation-circle-fill" variant="danger"></b-icon>
            <strong> Záznam se smaže i z Monthly Logu.</strong>
        </div>
        <template v-slot:modal-footer="{ cancel, ok }">
            <b-button size="md" variant="secondary" @click="cancel()">
                Zrušit
            </b-button>
            <b-overlay :show="isLoading"
                       spinner-small
                       spinner-variant="danger">
                <b-button size="md" variant="danger" @click="ok()">
                    <strong>Smazat</strong>
                </b-button>
            </b-overlay>
        </template>
    </b-modal>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  export default {
    name: "ConfirmDialog",
    data() {
      return {
        isLoading: false
      }
    },
    computed: {
      ...mapGetters(["getMarkedEntry", "getMarkedParentEntry", "getIsSubEntryOriented"])
    },
    methods: {
      ...mapActions(["deleteEntry", "deleteSubEntry", "updateDailyLogContent"]),
      async handleOk() {
        this.isLoading = true;
        if (this.getIsSubEntryOriented) {
          await this.processDeleteSubEntry();
        } else {
          await this.processDeleteEntry();
        }
        this.isLoading = false;
      },
      async processDeleteEntry() {
        const markedEntry = this.getMarkedEntry;
        const response = await this.deleteEntry(markedEntry._id);
        if (response.status === 200) {
          await this.updateDailyLogContent();
          this.createToast(true, this.getNodesMsg(markedEntry.text));
        } else {
          this.createToast(false, response.data.message._message);
        }
      },
      async processDeleteSubEntry() {
        const markedEntry = this.getMarkedEntry;
        const response = await this.deleteSubEntry(markedEntry);
        if (response.status === 200) {
          await this.updateDailyLogContent();
          this.createToast(true, this.getNodesMsg(markedEntry.text));
        } else {
          this.createToast(false, response.data.message._message);
        }
      },
      createToast(success, message) {
        let title = success ? "Záznam úspěšně smazán" : "Záznam nebyl úspěšně smazán";
        this.$bvToast.toast(message, {
          title: title,
          toaster: "b-toaster-bottom-center",
          autoHideDelay: 4000,
          variant: success ? "secondary" : "danger",
          appendToast: true
        });
      },
      getNodesMsg(entryName) {
        return this.$createElement("span", {}, [
          this.$createElement("span", { class: ["font-italic"] }, [entryName])
        ]);
      }
    }
  }
</script>

<style scoped>

</style>
