<template>
    <b-modal id="create-new-entry-dialog"
             :title="getIsSubEntryOriented ? 'Přidat odsazený záznam' : 'Vytvořit nový záznam'"
             no-close-on-esc no-close-on-backdrop
             @show="initData()"
             @ok="handleOk"
             scrollable>
        <template v-slot:default>
            <template v-if="getIsSubEntryOriented">
                <span class="info">Rodič odsazeného záznamu: <i>{{ getMarkedEntry.text }}</i></span>
                <hr>
            </template>
            <EntryForm :entry="entry" :parent-entry="getIsSubEntryOriented ? getMarkedEntry : null" />
        </template>
        <template v-slot:modal-footer="{ cancel, ok }">
            <b-button size="md" variant="secondary" @click="cancel()">
                Zrušit
            </b-button>
            <b-overlay :show="isLoading"
                       spinner-small
                       spinner-variant="success">
                <b-button :disabled="!isValid" size="md" variant="success" @click="ok()">
                    <strong>Vytvořit</strong>
                </b-button>
            </b-overlay>
        </template>
    </b-modal>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import EntryForm from "../forms/EntryForm";
  export default {
    name: "CreateNewEntryDialog",
    components: {EntryForm},
    data() {
      return {
        entry: {
          text: "",
          type: "TASK",
          signifier: "",
          canceled: false,
          dateDailyLog: new Date(),
          dateMonthlyLog: null
        },
        isLoading: false
      }
    },
    methods: {
      ...mapActions(["createNewEntry", "createNewSubEntry", "updateDailyLogContent"]),
      async handleOk(bvModalEvent) {
        bvModalEvent.preventDefault();
        this.isLoading = true;
        this.entry.dateDailyLog = this.getSelectedDateDailyLog;
        if (this.getIsSubEntryOriented) {
          await this.processNewSubEntry();
        } else {
          await this.processNewEntry();
        }
        this.isLoading = false;
        this.$bvModal.hide("create-new-entry-dialog");
      },
      async processNewEntry() {
        const response = await this.createNewEntry(this.entry);
        if (response.status === 201) {
          await this.updateDailyLogContent();
          this.createToast(true, this.getNodesMsg(response.data.resource.text));
          this.$router.push({ path: `${this.$route.path}#${response.data.resource._id}` });
          setTimeout(() => { window.location.hash = "" }, 200);
        } else {
          this.createToast(false, response.data.message._message);
        }
      },
      async processNewSubEntry() {
        this.entry.parentEntry = this.getMarkedEntry._id;
        const response = await this.createNewSubEntry(this.entry);
        if (response.status === 201) {
          await this.updateDailyLogContent();
          this.createToast(true, this.entry.text);
        } else {
          this.createToast(false, response.data.message._message);
        }
      },
      createToast(success, message) {
        let title = success ? "Nový záznam úspěšně vytvořen" : "Záznam nebyl úspěšně vytvořen";
        this.$bvToast.toast(message, {
          title: title,
          toaster: "b-toaster-bottom-center",
          autoHideDelay: 4000,
          variant: success ? "success" : "danger",
          appendToast: true
        });
      },
      getNodesMsg(entryName) {
        return this.$createElement("span", {}, [
          this.$createElement("span", { class: ["font-italic"] }, [entryName])
        ]);
      },
      initData() {
        this.entry = this.$options.data().entry;
      }
    },
    computed: {
      ...mapGetters(["getIsSubEntryOriented", "getMarkedEntry", "getSelectedDateDailyLog"]),
      isValid() {
        return this.entry.text.length > 0 && this.entry.text.length <= 100 && this.entry.text.replace(/\s/g,'').length > 0;
      }
    }
  }
</script>

<style scoped>
.info {
    color: grey;
}
</style>
