<template>
    <b-modal id="help-dialog"
             title="Nápověda"
             scrollable
             size="lg"
             ok-only>
        <h4>Vítejte v BuJo App!</h4>
        <p>Tato aplikace je založená na metodě Bullet Journal, která představuje unikátní způsob organizace poznámek ve formě odrážek.</p>
        <p>Následující obsah poskytuje reference a rady pro používání aplikace.</p>
        <b-button block :variant="states.entries ? 'primary' : 'secondary'" class="text-left mb-1" @click="states.entries = !states.entries"><b-icon :icon="states.entries ? 'caret-up-fill' : 'caret-down-fill'" scale=".7"></b-icon> Typy záznamů</b-button>
        <b-collapse id="accordion-entries" v-model="states.entries" class="p-1">
            <b-card>
                <p>Aplikace podporuje následující typy záznamů lišících se podle vzhledu odrážek:</p>
                <div><div class="d-inline-block"><Bullet :icon-size="iconSize" :entry-data="{ type: 'TASK' }" /></div> <strong>Úkol</strong></div>
                <div><div class="d-inline-block"><Bullet :icon-size="iconSize" :entry-data="{ type: 'TASK_COMPLETED' }" /></div> <strong>Splněný úkol</strong></div>
                <div><div class="d-inline-block"><Bullet :icon-size="iconSize" :entry-data="{ type: 'EVENT' }" /></div> <strong>Událost</strong></div>
                <div><div class="d-inline-block"><Bullet :icon-size="iconSize" :entry-data="{ type: 'NOTE' }" /></div> <strong>Poznámka</strong></div>
                <div><div class="d-inline-block"><Bullet :icon-size="iconSize" :entry-data="{ dateMonthlyLog: new Date() }" :in-daily-log="true" /></div> <strong>Zkopírovaný záznam do Monthly Logu</strong> (zobrazuje se pouze v Daily Logu)</div><br>
                <p>Záznam lze také označit jako <span class="canceled">zrušený</span>. Tato možnost slouží jako alternativa k úplnému smazání (tlačítko <b-icon icon="trash"></b-icon>), aby bylo možné dohledat, že záznam byl původně zaznamenán, ale nyní je již nerelevantní. Záznamy lze upravovat pomocí tlačítka <b-icon icon="pencil"></b-icon>.</p>
                <p>Pro případné seskupení/strukturování záznamů lze k existujícím záznamům přidávat odsazené záznamy (tlačítko <b-icon icon="plus"></b-icon>). Pro tento účel se obvykle používá <i>Poznámka</i> (tento typ záznamu lze obecně použít k připojení nějaké informace), lze ale použít jakýkoli jiný typ záznamu.</p>
                <b-alert variant="info" show class="mt-4"><b-icon icon="info-circle"></b-icon> Odsazené záznamy jsou závislé na rodičovském záznamu. To znamená následující:
                <ul>
                    <li>Pokud je rodičovský záznam označen jako zrušený, jsou jako zrušené označeny i záznamy odsazené. V tomto případě je nelze upravovat ani mazat (s výjimkou rodiče).</li>
                    <li>Pokud je rodičovský záznam zkopírován do Monthly Logu, jsou zkopírovány i záznamy odsazené.</li>
                    <li>Pokud je rodičovský záznam smazán úplně, jsou smazány úplně i záznamy odsazené.</li>
                    <li>Odsazený záznam sám o sobě nelze zkopírovat do Monthly Logu.</li>
                </ul>
                <p>V ostatních případech lze s odsazenými záznamy pracovat podobně jako se záznamy na první úrovni.</p>
                </b-alert>
            </b-card>
        </b-collapse>
        <b-button block :variant="states.signifiers ? 'primary' : 'secondary'" class="text-left mb-1" @click="states.signifiers = !states.signifiers"><b-icon :icon="states.signifiers ? 'caret-up-fill' : 'caret-down-fill'" scale=".7"></b-icon> Značky</b-button>
        <b-collapse id="accordion-entries" v-model="states.signifiers" class="p-1">
            <b-card>
                <p>Značky slouží k přidání speciálního významu k záznamu a k jeho odlišení od ostatních.</p>
                <p>Podporovány jsou dvě značky (stejně jako u analogové verze metody):</p>
                <div><Signifier value="IMPORTANT" /> <strong>Důležité</strong>
                    <ul>
                        <li>Označuje záznam s vyšší mírou priority.</li>
                        <li>Obvykle se používá se záznamem typu <i>Úkol</i>.</li>
                    </ul>
                </div>
                <div><Signifier value="INSPIRATION" /> <strong>Inspirace</strong>
                    <ul>
                        <li>Označuje záznam popisující myšlenku, která byla něčím inspirována, postřeh či nápad.</li>
                        <li>Obvykle se používá se záznamem typu <i>Poznámka</i>.</li>
                    </ul>
                </div>
                <b-alert variant="warning" show class="mt-4"><b-icon icon="exclamation-triangle"></b-icon> Aby značky splňovaly svůj účel, neměly by být používány v nadměrném množství.</b-alert>
            </b-card>
        </b-collapse>
        <b-button block :variant="states.collections ? 'primary' : 'secondary'" class="text-left mb-1" @click="states.collections = !states.collections"><b-icon :icon="states.collections ? 'caret-up-fill' : 'caret-down-fill'" scale=".7"></b-icon> Typy kolekcí</b-button>
        <b-collapse id="accordion-collections" v-model="states.collections" class="p-1">
            <b-card>
                <p>Kolekce jsou hlavními součástmi aplikace. Podporuje celkem tři:</p>
                <ul>
                    <li><strong>Daily Log</strong></li>
                    <li><strong>Monthly Log</strong></li>
                    <li><strong>Reporting</strong></li>
                </ul>
                <p>Daily Log a Monthly Log jsou kolekce, které definuje i analogová verze metody Bullet Journal. Liší se svým účelem a způsobem práce s nimi.</p>
                <p>Reporting je pak součást, která je specifická pouze pro tuto aplikaci. Využívá tak potenciálu elektronické verze, a to možnost generovat dva typy reportů.</p>
            </b-card>
        </b-collapse>
        <b-button block :variant="states.dailyLog ? 'primary' : 'secondary'" class="text-left mb-1" @click="states.dailyLog = !states.dailyLog"><b-icon :icon="states.dailyLog ? 'caret-up-fill' : 'caret-down-fill'" scale=".7"></b-icon> Kolekce <i>Daily Log</i></b-button>
        <b-collapse id="accordion-collections" v-model="states.dailyLog" class="p-1">
            <b-card>
                <p>Daily Log je primární kolekce, kde jsou záznamy vytvářeny. Slouží jako "mezipaměť" pro poznámky zaznamenané v průběhu dne, kde čekají na pozdější naplánování na konkrétní den (tj. zkopírování záznamu do Monthly Logu).</p>
                <p>Účelem této kolekce je průběžné "odlehčování mozku" od myšlenek během dne, jejichž udržování v mozku by jinak mohlo negativně ovlivnit produktivitu.</p>
                <p>Až přijde správný čas (například na konci dne), záznamy zde zachycené lze naplánovat na konkrétní den tak, že jsou zkopírovány do Monthly Logu.</p>
                <b-alert variant="info" show class="mt-4"><b-icon icon="info-circle"></b-icon> Výše popsaný postup práce s Daily Logem je jen příklad. Záznam lze naplánovat na konkrétní den hned při jeho vytvoření.</b-alert>
                <b-alert variant="warning" show class="mt-4"><b-icon icon="exclamation-triangle"></b-icon> Záznamy lze v Daily Logu přidávat do jakéhokoli dne. Nicméně, je <strong>silně doporučeno vždy vytvářet záznamy pro aktuální den</strong>. Je tím tak reálně zachycena historie vzniku jednotlivých záznamů v čase.</b-alert>
                <b-alert variant="info" show class="mt-4"><b-icon icon="info-circle"></b-icon> <span class="text-info font-weight-bold">TIP:</span> Pro rychlý náhled, zda některé záznamy v některých dnech ještě nebyly zkopírovány (příp. zrušeny), lze použít kalendář:
                <ul>
                    <li>Pokud je den podbarvený <span class="has-entry-both-unmigrated-and-uncanceled">žlutě</span>, znamená to, že v daném dni existuje alespoň jeden záznam, který ještě nebyl zkopírován nebo zrušen.</li>
                    <li>Pokud je den podbarvený <span class="has-all-entries-migrated-or-canceled">šedivě</span>, znamená to, že v daném dni byly všechny existující záznamy zkopírovány nebo zrušeny.</li>
                </ul>
                <b-img center thumbnail :src="dailyLogCal" alt="Daily Log Calendar" fluid></b-img>
                </b-alert>
            </b-card>
        </b-collapse>
        <b-button block :variant="states.monthlyLog ? 'primary' : 'secondary'" class="text-left mb-1" @click="states.monthlyLog = !states.monthlyLog"><b-icon :icon="states.monthlyLog ? 'caret-up-fill' : 'caret-down-fill'" scale=".7"></b-icon> Kolekce <i>Monthly Log</i></b-button>
        <b-collapse id="accordion-collections" v-model="states.monthlyLog" class="p-1">
            <b-card>
                <p>Monthly Log je kolekce, kde se zobrazují všechny záznamy, které byly naplánovány na konkrétní dny. Jedná se o takový kalendář zobrazující všechny dny vybraného měsíce.</p>
                <p>Doporučuje se, aby se všechny záznamy z Daily Logu eventuálně zobrazovaly i v této kolekci (pokud nakonec nebyly označeny jako zrušené), tj. všechny byly naplánovány.</p>
                <b-alert variant="danger" show><b-icon icon="exclamation-circle"></b-icon> Daily Log není určen k plánování záznamů. Den v Daily Logu určuje, kdy byl který záznam vytvořen (tvoří tak historii jejich vzniku), ne nutně na který den byl naplánován – k tomu slouží právě kopírování záznamů do Monthly Logu.
                (Příklad: Chci si zaznamenat událost, která se koná 10. dubna 2020, dnes je 5. dubna 2020. V Daily Logu pro dnešní den (tedy 5. duben 2020) záznam vytvořím a zároveň jej zkopíruji do Monthly Logu na termín 10. dubna 2020.)
                </b-alert>
                <b-alert variant="info" show><b-icon icon="info-circle"></b-icon> <span class="text-info font-weight-bold">TIP:</span> Pro rychlé zobrazení záznamu, který byl zkopírován, v Monthly Logu (resp. Daily Logu) lze u záznamu použít tlačítko <span class="badge-text">Monthly Log<b-icon icon="play-fill"></b-icon></span> (resp. <span class="badge-text">Daily Log<b-icon icon="play-fill"></b-icon></span>).</b-alert>
            </b-card>
        </b-collapse>
        <b-button block :variant="states.reporting ? 'primary' : 'secondary'" class="text-left mb-1" @click="states.reporting = !states.reporting"><b-icon :icon="states.reporting ? 'caret-up-fill' : 'caret-down-fill'" scale=".7"></b-icon> Kolekce <i>Reporting</i></b-button>
        <b-collapse id="accordion-collections" v-model="states.reporting" class="p-1">
            <b-card>
                <p>Reporting je dodatečná součást aplikace (není součástí oficiální definice metody Bullet Journal) umožňující generování dvou typů reportů:</p>
                <ul>
                    <li>Přehled úkolů</li>
                    <li>Seznam poznámek</li>
                </ul>
                <p>Pro oba typy se vybírá období, pro jaké se mají reporty vygenerovat.</p>
                <h5>Přehled úkolů</h5>
                <p>Obsahem reportu je:</p>
                <ul>
                    <li>Celkový počet úkolů a jednotlivé počty úkolů podle typu:
                        <ul>
                            <li>Otevřený – úkol označený odrážkou <b-icon icon="dot"></b-icon></li>
                            <li>Uzavřený – úkol označený odrážkou <b-icon icon="x"></b-icon></li>
                            <li>Zrušený – jakýkoli z předchozích typů úkolů, který je označen jako zrušený</li>
                        </ul>
                    </li>
                    <li>Vizuální zobrazení rozdělení úkolů podle typu formou kruhového grafu.</li>
                    <li>Vizuální zobrazení časového rozložení úkolů podle týdnů <strong>(podle data Daily Logu!)</strong> formou sloupcového grafu.</li>
                    <li>Výčet jednotlivých úkolů v tabulce.</li>
                </ul>
                <p>Obsah tohoto reportu lze filtrovat podle typů úkolů pomocí zaškrtávacích polí v horní části reportu.</p>
                <h5>Seznam poznámek</h5>
                <p>Obsahem reportu je:</p>
                <ul>
                    <li>Celkový počet poznámek.</li>
                    <li>Vizuální zobrazení časového rozložení poznámek podle týdnů <strong>(podle data Daily Logu!)</strong> formou sloupcového grafu.</li>
                    <li>Výčet jednotlivých poznámek v tabulce.</li>
                </ul>
                <b-alert variant="info" show class="mt-4"><b-icon icon="info-circle"></b-icon> Pokud pro dané období nebyl nalezen žádný záznam, je zobrazena hláška <i>Žádná data reportu k dispozici</i>.</b-alert>
                <b-alert variant="info" show class="mt-4"><b-icon icon="info-circle"></b-icon> <span class="text-info font-weight-bold">TIP:</span> Vygenerovaný report lze vyexportovat do formátu PDF přes možnost tisku v prohlížeči (zkratka Ctrl + P; možnost uložení do PDF lze vybrat v kolonce pro výběr tiskárny a pro lepší výsledek je doporučeno zaškrtnout možnost "Grafika na pozadí", testováno v prohlížeči Chrome).</b-alert>
            </b-card>
        </b-collapse>
        <b-button block :variant="states.recommendations ? 'primary' : 'secondary'" class="text-left mb-1" @click="states.recommendations = !states.recommendations"><b-icon :icon="states.recommendations ? 'caret-up-fill' : 'caret-down-fill'" scale=".7"></b-icon> <strong>Doporučení na závěr</strong></b-button>
        <b-collapse id="accordion-collections" v-model="states.recommendations" class="p-1">
            <b-card>
                <p>Aplikace je určena k volnému použití, aniž by se uživatel musel řídit nějakými pravidly. Aby ale aplikace mohla být používána zamýšleným způsobem a splňovala tak svůj smysl, existují jistá doporučení. Konkrétně je doporučeno:</p>
                <ul id="recommendations">
                    <li>záznamy editovat nebo mazat zřídka (místo toho lze záznam označit jako zrušený),</li>
                    <li>nepoužívat značky v nadměrném množství,</li>
                    <li>vytvářet nové záznamy v Daily Logu pro aktuální den,</li>
                    <li>k plánování používat Monthly Log (resp. možnost zkopírování záznamu do Monthly Logu), nikoliv Daily Log,</li>
                    <li>mít eventuálně všechny záznamy naplánované (zkopírované do Monthly Logu), případně zrušené.</li>
                </ul>
            </b-card>
        </b-collapse>
    </b-modal>
</template>

<script>
  import Bullet from "../entry/Bullet";
  import Signifier from "../entry/Signifier";
  import dailyLogCal from "../../assets/daily_log_cal.png";
  export default {
    name: "HelpDialog",
    components: {Signifier, Bullet},
    data() {
      return {
        states: {
          entries: false,
          signifiers: false,
          collections: false,
          dailyLog: false,
          monthlyLog: false,
          reporting: false,
          recommendations: false
        },
        dailyLogCal,
        iconSize: 10
      }
    }
  }
</script>

<style scoped>
.canceled {
    text-decoration: line-through;
}
.badge-text {
    font-size: .7em;
    font-weight: bold;
}

ul#recommendations li {
    font-weight: bold;
    margin-bottom: .5em;
}

</style>
