<template>
    <div class="bullet-container">
        <template v-if="inDailyLog && entryData.dateMonthlyLog">
            <svg xmlns="http://www.w3.org/2000/svg" :width="iconSize" :height="iconSize" viewBox="0 0 12.728 21.385" class="greyed-out">
                <g transform="translate(2.121 2.121)">
                    <g transform="translate(0 0) rotate(45)">
                        <line x2="12" fill="none" stroke="#000" stroke-linecap="round" stroke-width="3"/>
                    </g>
                    <g transform="translate(0 17.142) rotate(-45)">
                        <line x2="12" fill="none" stroke="#000" stroke-linecap="round" stroke-width="3"/>
                    </g>
                </g>
            </svg>
        </template>
        <template v-else-if="entryData.type === 'TASK'">
            <svg xmlns="http://www.w3.org/2000/svg" :width="iconSize" :height="iconSize" viewBox="0 0 9 9" v-bind:class="{ 'greyed-out': isCanceledOrMigrated }">
                <circle cx="4.5" cy="4.5" r="4.5"/>
            </svg>
        </template>
        <template v-else-if="entryData.type === 'EVENT'">
            <svg xmlns="http://www.w3.org/2000/svg" :width="iconSize" :height="iconSize" viewBox="0 0 15 15" v-bind:class="{ 'greyed-out': isCanceledOrMigrated }">
                <g fill="none" stroke="#000" stroke-width="1">
                    <circle cx="7.5" cy="7.5" r="7.5" stroke="none"/>
                    <circle cx="7.5" cy="7.5" r="7" fill="none"/>
                </g>
            </svg>
        </template>
        <template v-else-if="entryData.type === 'NOTE'">
            <svg xmlns="http://www.w3.org/2000/svg" :width="iconSize" :height="iconSize" viewBox="0 0 22 3" v-bind:class="{ 'greyed-out': isCanceledOrMigrated }">
                <g transform="translate(1.5 1.5)">
                    <line x2="19" fill="none" stroke="#000" stroke-linecap="round" stroke-width="3"/>
                </g>
            </svg>
        </template>
        <template v-else-if="entryData.type === 'TASK_COMPLETED'">
            <svg xmlns="http://www.w3.org/2000/svg" :width="iconSize" :height="iconSize" viewBox="0 0 21.243 21.243" v-bind:class="{ 'greyed-out': isCanceledOrMigrated }">
                <g transform="translate(2.121 2.121)">
                    <line y1="17" x2="17" fill="none" stroke="#000" stroke-linecap="round" stroke-width="3"/>
                    <line x1="17" y1="17" fill="none" stroke="#000" stroke-linecap="round" stroke-width="3"/>
                </g>
            </svg>
        </template>
    </div>
</template>

<script>
  export default {
    name: "Bullet",
    props: ["entryData", "inDailyLog", "parentCanceled", "parentMigrated", "iconSize"],
    computed: {
      isCanceledOrMigrated() {
        return this.$props.entryData.canceled || this.$props.parentCanceled || (this.$props.inDailyLog && this.$props.parentMigrated);
      }
    }
  }
</script>

<style scoped>
.bullet-container {
    padding: 0 1em;
    line-height: 0;
}
svg.greyed-out {
    fill: #828282;
}
svg.greyed-out line, svg.greyed-out g {
    stroke: #828282;
}
</style>
