<template>
    <div class="badge-container">
        <template v-if="entryData.dateMonthlyLog">
            <b-badge v-if="inDailyLog" :to="'/monthly-log/#' + entryData._id" class="bdg sh" v-b-tooltip :title="formatDate(entryData.dateMonthlyLog)" @click="updateSelectedDateMonthlyLog(entryData.dateMonthlyLog)">Monthly Log <b-icon icon="play-fill"></b-icon></b-badge>
            <b-badge v-else            :to="'/#' + entryData._id"             class="bdg sh" v-b-tooltip :title="formatDate(entryData.dateDailyLog)"   @click="updateSelectedDateDailyLog(entryData.dateDailyLog)">Daily Log <b-icon icon="play-fill"></b-icon></b-badge>
        </template>
    </div>
</template>

<script>
  import { mapActions } from "vuex";
  import moment from "moment";
  export default {
    name: "EntryBadges",
    props: ["entryData", "inDailyLog"],
    methods: {
      ...mapActions(["updateSelectedDateMonthlyLog", "updateSelectedDateDailyLog"]),
      formatDate(date) {
        return moment(date).format("D.M.YYYY");
      }
    }
  }
</script>

<style scoped>
.badge-container {
    white-space: nowrap;
    padding: 0 .5em;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .badge-container {
        padding-left: 0;
    }
}
</style>
