<template>
    <div class="entry-container" v-bind:class="{ 'is-child': isChild, 'greyed-out': parentCanceled || (inDailyLog && parentMigrated) }">
        <div :id="entryData._id" class="entry"
             v-bind:class="{ 'is-child': isChild,
                             canceled: entryData.canceled || parentCanceled,
                             'greyed-out': entryData.canceled || parentCanceled || (inDailyLog && (entryData.dateMonthlyLog || parentMigrated)),
                             'flash-once': entryData._id === fragmentIdentifier() }">
            <Bullet :entry-data="entryData"
                    :icon-size="iconSize"
                    :in-daily-log="inDailyLog"
                    :parent-canceled="parentCanceled"
                    :parent-migrated="parentMigrated"
            />
            <Signifier :value="entryData.signifier" />
            <div class="text-badge-container">
                <div class="text-container" v-bind:class="{ divider: entryData.signifier || entryData.dateMonthlyLog }">{{ entryData.text }}</div>
                <EntryBadges :entry-data="entryData" :in-daily-log="inDailyLog" />
            </div>
            <div class="opts-container">
                <b-button v-if="!isChild" variant="outline-success" class="opt-btn p-0 mr-2 sh" title="Přidat odsazený záznam" v-b-modal.create-new-entry-dialog @click="updateMarkedEntry({ newMarkedEntry: copyObj(entryData), isSubEntryOriented: true })"><b-icon icon="plus"></b-icon></b-button>
                <b-button v-if="isParentOrParentNotCanceled" variant="outline-primary" class="opt-btn p-0 mr-2 sh" title="Upravit" v-b-modal.edit-entry-dialog @click="updateMarkedEntry({ newMarkedEntry: copyObj(entryData), newMarkedParentEntry: parentEntryData ? copyObj(parentEntryData) : null, isSubEntryOriented: !!isChild })"><b-icon icon="pencil"></b-icon></b-button>
                <b-button v-if="isParentOrParentNotCanceled" variant="outline-danger" class="opt-btn p-0 sh" title="Smazat" v-b-modal.confirm-dialog @click="updateMarkedEntry({ newMarkedEntry: copyObj(entryData), newMarkedParentEntry: parentEntryData ? copyObj(parentEntryData) : null, isSubEntryOriented: !!isChild })"><b-icon icon="trash"></b-icon></b-button>
                <b-button v-if="isParentOrParentNotCanceled" :id="`gear-btn-${entryData._id}`" variant="outline-secondary" class="p-0 sh"><b-icon icon="three-dots" scale=".7"></b-icon></b-button>
            </div>
        </div>
        <b-popover v-if="isParentOrParentNotCanceled"
                   :target="`gear-btn-${entryData._id}`"
                   triggers="click blur"
                   placement="bottom">
            <b-button v-if="!isChild" variant="outline-success" class="opt-btn-mob p-0 mr-2 sh" title="Přidat odsazený záznam" v-b-modal.create-new-entry-dialog @click="updateMarkedEntry({ newMarkedEntry: copyObj(entryData), isSubEntryOriented: true })"><b-icon icon="plus"></b-icon></b-button>
            <b-button v-if="isParentOrParentNotCanceled" variant="outline-primary" class="opt-btn-mob p-0 mr-2 sh" title="Upravit" v-b-modal.edit-entry-dialog @click="updateMarkedEntry({ newMarkedEntry: copyObj(entryData), newMarkedParentEntry: parentEntryData ? copyObj(parentEntryData) : null, isSubEntryOriented: !!isChild })"><b-icon icon="pencil"></b-icon></b-button>
            <b-button v-if="isParentOrParentNotCanceled" variant="outline-danger" class="opt-btn-mob p-0 sh" title="Smazat" v-b-modal.confirm-dialog @click="updateMarkedEntry({ newMarkedEntry: copyObj(entryData), newMarkedParentEntry: parentEntryData ? copyObj(parentEntryData) : null, isSubEntryOriented: !!isChild })"><b-icon icon="trash"></b-icon></b-button>
        </b-popover>
        <template v-if="!isChild">
            <Entry v-for="childEntry in entryData.childEntries"
                   :key="childEntry.id"
                   :entry-data="childEntry"
                   :parent-entry-data="entryData"
                   :is-child="true"
                   :parent-canceled="entryData.canceled"
                   :parent-migrated="entryData.dateMonthlyLog"
                   :in-daily-log="inDailyLog"
            />
        </template>
    </div>
</template>

<script>
  import { mapActions } from "vuex";
  import Bullet from "./Bullet";
  import EntryBadges from "./EntryBadges";
  import moment from "moment";
  import $ from "jquery";
  import Signifier from "./Signifier";
  window.$ = $;
  export default {
    name: "Entry",
    components: {Signifier, EntryBadges, Bullet},
    props: ["entryData", "parentEntryData", "isChild", "inDailyLog", "parentCanceled", "parentMigrated"],
    data() {
      return {
        iconSize: 10
      }
    },
    computed: {
      isParentOrParentNotCanceled() {
        return !this.$props.isChild || !this.$props.parentCanceled;
      }
    },
    methods: {
      ...mapActions(["updateSelectedDateMonthlyLog", "updateMarkedEntry"]),
      formatDate(date) {
        return moment(date).format("D.M.YYYY");
      },
      fragmentIdentifier() {
        return window.location.hash.substr(1);
      },
      copyObj(obj) {
        return JSON.parse(JSON.stringify(obj));
      }
    },
    created() {
      setTimeout(() => {
        let el = $("#" + this.$props.entryData._id);
        if (el.length && el.attr("id") === this.fragmentIdentifier()) {
          $("html, body").animate({
            scrollTop: el.offset().top - ($(window).height() / 2)
          }, 500);
        }
        setTimeout(() => { window.location.hash = "" }, 200);
      }, 200);
    }
  }
</script>

<style scoped>
.entry {
    display: flex;
    padding: .5em 0;
    align-items: center;
    transition: 300ms;
    background-color: #fff4d8;
}

.entry-container {
    border-radius: .25em;
}

.entry-container.greyed-out {
    background-color: #ebebeb;
}

.entry-container:not(.is-child) {
    box-shadow: 1px 1px 3px lightgray;
    background-color: #fff4d8;
    margin: .5em;
    overflow: hidden;
}

.entry.is-child {
    margin-left: 2.5em;
    border-radius: 0;
}

.entry.canceled {
    text-decoration: line-through;
}

.entry.greyed-out {
    color: #828282;
    background-color: #ebebeb;
}

.entry:not(.canceled):not(.greyed-out):hover {
    background-color: #ffe6a5;
}


.text-badge-container {
    display: flex;
    flex-grow: 1;
}

.text-container {
    flex-grow: 1;
}

.opts-container {
    padding: 0 .5em 0 .5em;
    white-space: nowrap;
    border-left: 1px solid lightgray;
}

.is-child .opts-container {
    padding-left: 2.5em;
}

.opt-btn, .opt-btn-mob {
    width: 1.5em;
    height: 1.5em;
    transition: 300ms;
}

button[id^="gear-btn-"] {
    display: none;
    line-height: 0;
}

.signifier-container {
    margin-right: .5em;
}

.flash-once {
    animation: flash 2s linear 1;
}

@media screen and (max-width: 600px) {

    .text-badge-container {
        flex-wrap: wrap;
        padding-right: .3em;
    }

    .text-container {
        flex-basis: 100%;
        word-break: break-word;
    }

    .opt-btn {
        display: none;
    }

    button[id^="gear-btn-"] {
        display: initial;
    }

    .opts-container {
        border-left: none;
        text-align: right;
    }

    .is-child .opts-container {
        padding-left: 0;
    }

    .entry.is-child {
        margin-left: 1.5em;
        border-radius: 0;
    }
}
    
@keyframes flash {
    0% {
        background-color: #007bff;
    }
}
</style>
