<template>
    <div class="signifier-container d-inline-block">
        <template v-if="value === 'IMPORTANT'">
            <b-badge variant="danger" class="bdg square-badge p-0 sh" v-b-tooltip title="Důležité">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 37.141 40" style="transform: translateY(-1.5px)">
                    <g transform="translate(-413.929 -779.5)">
                        <line y2="40" transform="translate(432.5 779.5)" fill="none" stroke="#fff" stroke-width="6"/>
                        <line y2="40" transform="translate(449.82 789.5) rotate(60)" fill="none" stroke="#fff" stroke-width="6"/>
                        <line y2="40" transform="translate(415.18 789.5) rotate(-60)" fill="none" stroke="#fff" stroke-width="6"/>
                    </g>
                </svg>
            </b-badge>
        </template>
        <template v-if="value === 'INSPIRATION'">
            <b-badge variant="info" class="bdg square-badge p-0 sh" v-b-tooltip title="Inspirace">!</b-badge>
        </template>
    </div>
</template>

<script>
  export default {
    name: "Signifier",
    props: {
      value: {
        required: true
      }
    }
  }
</script>

<style scoped>

</style>
