.sh {
    box-shadow: 1px 1px 3px gray;
}

.btn-shadow {
    box-shadow: 1px 1px 3px lightgrey;
}

.has-entry-both-unmigrated-and-uncanceled {
    background-color: #fff4d8;
}

.has-all-entries-migrated-or-canceled {
    background-color: #ebebeb;
}

.time-span {
    color: darkgrey;
    display: inline-block;
}

#values-chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
}

.percentage {
    color: darkgrey;
}

.bdg {
    margin-right: .5em;
}

.square-badge {
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
}

@media screen and (max-width: 600px) {
    .time-span {
        display: block;
    }
    #values-wrapper {
        margin-bottom: 2em;
    }
    #tasks-pie-chart-wrapper, #tasks-bar-chart-wrapper, #notes-bar-chart-wrapper {
        align-self: center;
        margin-bottom: 2em;
    }
}
