<template>
    <div>
        <EntryTextInput :text.sync="entry.text" :initial-value="entry.text" />
        <hr>
        <EntryTypeInput :type.sync="entry.type" :canceled.sync="entry.canceled"
                        :initial-value="{type: entry.type, canceled: entry.canceled}" />
        <hr>
        <EntrySignifierInput :signifier.sync="entry.signifier" :initial-value="entry.signifier"/>
        <hr>
        <EntryMonthlyLogDateInput :dateMonthlyLog.sync="entry.dateMonthlyLog" :initial-value="parentEntry ? parentEntry.dateMonthlyLog : entry.dateMonthlyLog" />
    </div>
</template>

<script>
  import EntryTextInput from "../formComponents/EntryTextInput";
  import EntryTypeInput from "../formComponents/EntryTypeInput";
  import EntryMonthlyLogDateInput from "../formComponents/EntryMonthlyLogDateInput";
  import EntrySignifierInput from "../formComponents/EntrySignifierInput";
  export default {
    name: "EntryForm",
    components: {EntrySignifierInput, EntryMonthlyLogDateInput, EntryTypeInput, EntryTextInput},
    props: ["entry", "parentEntry"],

  }
</script>

<style scoped>

</style>
